.container{
    margin: 0 auto;
    width: 50%;
    background: #9DD2EA;
    position: relative;
}
.container .blocks{
    width: 70%;
    height: 500px;
    margin: 0 auto;
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.container .blocks .block{
    border: 1px solid #000;
    background: #9ddeff;
    box-sizing: border-box;
    text-align: center;
}
.align-center{
    text-align: center;
}
.container .btn {
    padding: 10px;
    background: #ff0000;
    color: #fff;
    display: inline-block;
    border: 1px #000 solid;
    border-radius: 5px;
    cursor: pointer;
}
.container .type-of-game{
    position: absolute;
    top: 48%;
    width: 100%;
}
.container .start{
    position: absolute;
    top: 48%;
    width: 100%;
}